@using WarlordsTavern.Models
@model FoodType

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing Food Type: @Model.Name</h2>

<table class="table table-condensed table-bordered">
    <tr>
        <th>
            Dish Type
        </th>
        <th>
            Dish
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>

        </th>
        <th>
            Price
        </th>
    </tr>

    @foreach (Food food in Model.Foods)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => food.FoodType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => food.Name)
            </td>
            <td>
                @Truncate(food.Description, 50)
            </td>
            <td>
                <img src="@food.DishPictureUrl" alt="@food.Name" />
            </td>
            <td>
                $@Html.DisplayFor(modelItem => food.Price)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = food.FoodID })" class="btn btn-primary" title="Info"><i class="fa fa-info"></i></a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Index")" class="btn btn-primary" title="Back"><i class="fa fa-chevron-left"> Back</i></a>