@model IEnumerable<WarlordsTavern.Models.Food>

@helper Truncate(string input, int length)
{
if (input.Length <= length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary" title="Create"><i class="fa fa-plus"> Add New Dish</i></a>
</p>
<table class="table table-condensed ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DishPictureUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Truncate(item.Description, 35)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DishPictureUrl)
        </td>
        <td>
            <a href="@Url.Action("Edit", new { id=item.FoodID })" class="btn btn-primary" title="Edit"><i class="fa fa-pencil"></i></a>
            <a href="@Url.Action("Details", new { id = item.FoodID })" class="btn btn-primary" title="Info"><i class="fa fa-info"></i></a>
            <a href="@Url.Action("Delete", new { id=item.FoodID })" class="btn btn-primary" title="Delete"><i class="fa fa-trash-o"></i></a>
        </td>
    </tr>
}

</table>
